flows.json
[
    {
        "id": "ba71a767689f81ef",
        "type": "mqtt in",
        "z": "bd7c1a89832477ff",
        "name": "",
        "topic": "mackenziemac10920508603/batimento",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5b0c1a2514233a3f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 490,
        "y": 220,
        "wires": [
            [
                "d009c48df6ad033b",
                "eb4d60ae05d81fc7"
            ]
        ]
    },
    {
        "id": "a6441077ab34b005",
        "type": "ui_chart",
        "z": "bd7c1a89832477ff",
        "name": "",
        "group": "6844b9a1fca8ee06",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "d009c48df6ad033b",
        "type": "function",
        "z": "bd7c1a89832477ff",
        "name": "function 1",
        "func": "let data = msg.payload;\nlet bpm = data.split(\" \");\n\nif(bpm[0] > 40 || bpm < 150) {\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 280,
        "wires": [
            [
                "a6441077ab34b005"
            ]
        ]
    },
    {
        "id": "eb4d60ae05d81fc7",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "bd7c1a89832477ff",
        "name": "Batimentos",
        "account": "07c1e211dcf6b882",
        "text": "payload",
        "inputtypemessage": "msg",
        "rejectssl": false,
        "x": 810,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "5b0c1a2514233a3f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6844b9a1fca8ee06",
        "type": "ui_group",
        "name": "Batimentos",
        "tab": "08b97cc53efdfedc",
        "order": 1,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "07c1e211dcf6b882",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "Batimento"
    },
    {
        "id": "08b97cc53efdfedc",
        "type": "ui_tab",
        "name": "Batimentos Cardíacos",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]